header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.navbar {
    display: flex;
    gap: 130px;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navbar a:hover {
    color: #FFD2A4;
}

.nav-btn button {
    background: #FFD2A4;
    backdrop-filter: blur(40px);
    padding: 20px 48px;
    border-radius: 12px;
    margin: 12px 0px;
}

.toogle {
    display: none;
}

.toogle i {
    color: white;
    font-size: 28px;
}

/* footer */

footer {
    background-color: #161722;
}

footer .container {
    display: flex;
    padding: 64px 100px;
}

.footer-left {
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 35%;
    flex: 35%;
}

.footer-left img {
    padding-bottom: 16px;
}

.footer-left img+p {
    padding-bottom: 16px;
}

.footer-left p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 30%;
    max-width: 30%;
    gap: 80px;
}

.footer-center h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-center p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.78;
}

.footer-center__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-center i {
    font-size: 25px;
    color: #FFD2A4;
    padding-top: 20px;
    padding-right: 20px;
}

.footer-right {
    max-width: 35%;
    flex: 35%;
}

.footer-right h2 {
    font-weight: 700;
    max-width: 377px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-right form {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.footer-right form input {
    border: none;
    padding: 20px 0px 20px 20px;
    background-color: transparent;
    color: #F5F2F0;
}

.footer-right button {
    padding: 24px 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    background: #FFD2A4;
    border-radius: 12px;
}



@media (max-width:500px) {

    .navbar ul, .nav-button{
        display: none;
    }

    .nav-btn button{
        padding: 15px 25px;
    }

    header .container {
        padding: 0px;
    }
    
    .container .toogle {
        display: block;
        padding: 10px;
    }

    .navbar{
        padding-left: 25px;
    }
    
    .responsive {
        position: fixed;
        display: block !important;
        z-index: 1;
        top: 0;
        height: 100vh;
        left: 0;
        right: 200px;
        text-align: center;
        background-color: #161722;
        bottom: 0;
        width: 35%;
    }

    .responsive li {
        width: 100%;
        padding-top: 25px;
    }

    .responsive a:hover {
        color: #FFD2A4;
    }

    footer .container {
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 35px;
        padding: 20px;

    }

    .footer-center {
        max-width: 100%;
    }

    .footer-right {
        max-width: 100%;
        flex: 100%;
    }

    .footer-right h2 {
        width: 300px;
        font-size: 24px;
    }
}